<div class="jumbotron">
  <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
    {{mensagem}}
 </p>

<div class="row">
  <div clas="col-md-12">
    <form>
      
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-btn">
                  <a href="/fotos/new" class="btn btn-primary" type="button">
                    Nova Foto
                  </a>
              </span>
              <input class="form-control" placeholder="filtrar pelo titulo da foto" ng-model="filtro" ng-model-options="{ debounce: 500}">
          </div>
       </div>
      
    </form>
  </div>
</div>

<div class="row">
  <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter:filtro" titulo="{{foto.titulo}}">
    <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
    <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    <a href="/fotos/edit/{{foto._id}}" class="btn btn-primary btn-block" type="button">
        Editar
    </a>
    <button class="btn btn-block btn-danger" ng-click="remover(foto)">
        Remover
     </button>
  </meu-painel>
</div>
